<!DOCTYPE html>
<html lang="hu">

<head>
<meta charset="utf-8">
<title>Játékterv</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>


<h1> Játékterv </h1>

<h2> Mi ez? </h2>

<p> Ez egy olyan társasjáték, amely bemutatja a vakok életében mutatkozó nehézségeket a Gazdálkodj okosan! mintájára. </p>

<h2> Szabályok </h2>

<ul>
<li> Játékosok száma: 2-4 </li>
<li> Szükséges hozzá(fizikai játékhoz): </li>
<ul>
<li> 1 db 6 oldalú dobókocka </li>
<li> Bábúk </li>
<li> annyi fehérbotot szimbolizáló bigyó ahány játékos van </li>
<li> plüss kutyusok </li>
<li> iskolai végzettséget szimbolizáló papírok </li>
<li> annyiszor 6 db gyöngy ahány játékos van (az iskolapontok jelölésére) </li>
<li> munkaszerződések </li>
<li> szerencsekártyák </li>
<li> játéktábla </li>
</ul>
</ul>
<p> A játék célja: Az a játékos nyer, akinek először vannak meg az önálló élethez való feltételei: Vakvezető kutya, fehérbot, egyetemi iskolai végzettség, munka. </p>
<p> A játékosok sorrendben haladnak végig egy 20 mezős táblán. Mindig dobnak a dobókockával, és annyit lépnek előre ahányat dobtak. Csak egy irányba haladnak. Ez addig folytatódik, ameddig valakinél nem teljesül az összes nyerési feltétel. </p>
<p> A vakvezető kutya és a fehérbot a játék során random megszerezhetők. </p>
<p> Iskolai végzettséget úgy szerzünk hogy a játéktáblán elszórt iskola mezőkre lépünk vagy bizonyos szerencsekártyák adják. Általános iskolához egy, középiskolához kettő, egyetemhez pedig három pontot kell összeszednünk. Ahhoz hogy elkezdjünk egy iskolát, rá kell lépnünk az iskolai fokozatot szimbolizáló mezőre (De ettől az még nem kap pontot!). </p>
<p> Munkát úgy szerzünk, hogy munka mezőre lépünk adott iskolai végzettséggel. És teljesítjük az adott munkának a feltételét. </p>

<h2>A tábla mezői: </h2>

<ul>
<li> 1: "Start": Áthaladva rajta semmi nem történik. Ha rálépünk, sorban ezeket vizsgáljuk, egyszerre csak egy történhet: </li>
<ul>
<li> - kap egy pontot az iskolai végzettségünk, ha dolgozunk valamelyiken. </li>
<li> - Ha vakvezető kutyát igényeltünk azt most megkapjuk. </li>
<li> - Ha éppen munkalehetőségre várunk, a munkát megkapjuk. </li>
<li> - Ha egyik sem, nem történik semmi. </li>
</ul>

<li> 2. "Általános iskola kezdete." Elkezded az általános iskolát. Ha már általános iskolás vagy, teljesül, megkapod a bizonyítványodat. Ha nem vagy általános iskolás, nem történik semmi. </li>
<li> 3. "Tájékozódás órán fehérbotot kapsz" Ha még nincs fehérbotod, kapsz. </li>
<li> 4. "Vakvezető kutya igénylés" Ha elvégezted az általános iskolát, igényelhetsz egy vakvezető kutyát. Lépj ide még egyszer hogy meg is kapd.</li>
<li>5. "Szülinapod van!" Húzz egy szerencsekártyát. </li>
<li>6. "Középiskola kezdete" Illetve kapsz egy iskolapontot. Csak ha már az általános iskola megvan.</li>
<li>7. "Névnapod van!" Húzz egy szerencsekártyát.</li>
<li>8. "Valaki rád kiabál közlekedés közben!" A sokktól húzz egy szerencsekártyát.</li> 
<li>9. Utcai zenész. Munkalehetőség. Zenei tudás és hangszer  szükséges hozzá, de nincs más feltétel, azonnal munkába állsz. Ebből a munkából nem rúghatnak ki. </li>
<li>10. Megtanultál zenélni! Szükséges hozzá, hogy valamilyen iskolád éppen folyamatban legyen.</li>
<li>11. Hangszert vásároltál. Kimaradsz egy körből, illetve lesz hangszered. </li>
<li>12. "Egyetem kezdete." Illetve kapsz egy iskolapontot. Csak ha a középsuli megvan.</li>
<li>13. "Egyetemi buli." Húzz egy szerencsekártyát, ha egyetemista vagy.</li>
<li>14. Szőnyegszövő: Munkalehetőség. Ha megvan a középiskolád, munkába állhatsz. A legközelebb amikor áthaladsz a starton megkapod a munkát.</li>
<li>15. "Utcai zenészt hallottál. Elgondolkozol azon, hogy utcai zenésznek állj." Lépj a 10-esre, ha még nem tudsz zenélni.</li>
<li>16. Programozó. Munkalehetőség. Ha megvan az egyetemed, munkába állhatsz. Lépj rá erre a mezőre újra hogy megkapd a munkát.</li>
<li>17. Életedben változás állt be! Húzz egy szerencsekártyát.</li>
<li>18. Elgondolkozol a tanulmányaid folytatásán. Lépj a neked megfelelő iskolai végzettség mezőjére.</li>
<li> 19. Rossz társaságba keveredtél. Csökken egyel az iskolapontod a sok bulizás miatt. Ha így 0 alá kerül, kicsaptak, és újra jelentkezned kell. </li>
<li>20. Elhagytad a fehérbotodat!  </li>
</ul>

<h2> Kártyák. </h2>
<ul>

<li>1. Sikeres vizsgát tettél az iskolában! Kapsz egy iskolapontot.</li>
<li>2. Rosszul feleltél! Csökken egyel az iskolapontod, de nem mehet 0 alá, nem csapnak ki.</li>
<li>3. Ajándékba kaptál egy fehérbotot valakitől! Hasznos.</li>
<li>4. Valaki hangszereket ajándékozott neked! Ideje talán zeneórákat venni.</li>
<li>5. Rosszul végzed a munkádat, kirúgnak!</li>
<li>6. A kutyusod sajnos elhunyt. Újat kell igényelned.</li>
<li>7. A szüleid nagyon nyomják, hogy tanulj meg zenélni. A vakok mind tudnak, nem? (Nem.) Lépj a 10-re.</li>
<li>8. A kutyusod beteg lett. 1 Körből kimaradsz ameddig ápolod.</li>
<li> 9. Elgondolkozol a tanulmányaid folytatásán. Lépj a neked megfelelő iskola mezőre. </li>
<li> 10. Eltört a fehérbotod! </li>
<li> 11. Elgondolkozol egy vakvezető kutya igénylésén. Igényelj egy kutyát, ha tudsz. </li>
<li> 12. Ha munkára vársz, megkapod. </li>
</ul>
    <a href="{% url 'home' %}">Vissza a főoldalra</a>
</body>
</html>